---
title: "The Best in Online Betting"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/bovada-homepage-hero.jpeg
excerpt: "Where sports, casino and poker combine for unforgetable entertainment."
intro: 
  - excerpt: "### Sportsbook"
feature_row:
  - image_path: /assets/images/atp-2-1.jpg
    alt: "NFL Football"
    title: "NFL Football"
  - image_path: /assets/images/nascar-2-2.jpg
    alt: "College Football"
    title: "College Football"
  - image_path: /assets/images/golf-1.jpg
    alt: "European Premier League"
    title: "European Premier League"
---

{% include feature_row id="intro" %}
{% include feature_row %}
