---
title: "The Best in Online Betting"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/bovada-homepage-hero.jpeg
excerpt: "Where sports, casino and poker combine for unforgettable entertainment."
intro: 
  - excerpt: "# Sportsbook"
feature_row:
  - image_path: /assets/images/zeke.jpg
    alt: "NFL Football"
    title: "NFL Football"
    url: "/sportsbook/nfl-sportsbook/"
    btn_label: "Bet on the NFL"
    btn_class: "btn--primary"
  - image_path: /assets/images/casey.jpg
    alt: "College Football"
    title: "College Football"
    url: "/sportsbook/cfb/"
    btn_label: "Bet on CFB"
    btn_class: "btn--primary"
  - image_path: /assets/images/ronaldo.jpg
    alt: "European Premier League"
    title: "European Premier League"
    url: "/sportsbook/european-premiere-league/"
    btn_label: "Bet on the Premier League"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" %}
{% include feature_row %}
